/* This is a CSS file. Here are some notes on it:

There is 3 ways of picking a color
1) html named colors ( 110 or so)
2) hex colors ex) #FF0044 
3) rgb color spectrum  ex) rgb(240,100,100) 
4) rgba like rdg but with 1 extra column alpha that can create transparency
    ex) rdga( 11, 99, 150, .6)  ALPHA has a range of 0.0 to 1.0*/
h1{
    color: #FF0000;
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */

    border: 5px solid purple;
}

li{
    color:green;
}
/* This is a ID selector, it is used for:
- Selecting an element with a give ID, only one per page!*/

#special{
    color:brown;
}

h4 {
    background: rgb(111,44,33);
}

body{
    background: pink;
}

/* This is a class selector, it is used for:
- Selecting all elemnts with a given class*/

.highlight {
    background: yellow;
}

.completed {
    text-decoration: line-through;
}